.headerContainer {
  background-color: #fff;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  box-shadow: 0 2px 12px rgba(136, 136, 136, 0.1);
  top: 0;
  .devicesController {
    background: #2d394b;
    height: 60px;
    display: flex;
    justify-content: end;
    .hideDevicesController {
      background: #2d394b;
      border: 1px solid #99a6b999;
      border-radius: 0 0 3px 3px;
      border-top: none;
      cursor: pointer;
      height: 50px;
      position: fixed;
      right: 10px;
      top: 0;
      width: 40px;
      z-index: 25;
      span {
        color: #99a6b9dd;
        font-size: 20px;
      }
    }
    .showDevicesController {
      background: #2d394b;
      border: 1px solid #99a6b999;
      border-radius: 0 0 3px 3px;
      border-top: none;
      transform: translateY(60px);
      cursor: pointer;
      height: 50px;
      position: fixed;
      right: 10px;
      top: 0;
      width: 40px;
      z-index: 25;
      span {
        color: #99a6b9dd;
        font-size: 20px;
      }
    }
  }
  .headerNavbar {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: center;
    div {
      display: flex;
      justify-content: center;
    }
    .headerLinkContainer {
      display: flex;
      width: 100%;
      justify-content: space-around;
      .headerLink {
        list-style-type: none;
        a {
          text-decoration: none;
          color: black;
          font-size: 12px;
        }
      }
    }
    .headerQuoteBtn {
      background-color: transparent;
      border: 1px solid #e0e0e2;
      cursor: pointer;
      padding: 12px 25px;
    }
  }
}
